<% provide(:title, "About") %>
	<div class="row">
	<div class="col-md-8 col-md-offset-2 well">
	<h1>About RE : me</h1>
	</div>
	</div>
	<div class="row">
	<div class="col-md-2">
	<br>
	<br>
	<%=image_tag("rachel.jpg", class:"img-responsive")%>
	<br>
	<br>
	<br>
	<br>
	<%=image_tag("christopher.jpg", class:"img-responsive")%>
	</div>
	<div class="col-md-8 well">
		<p>
		  A résumé may take you hours to perfect, yet it will remain in the hands of your potential employer for a mere six seconds! Creating a clear, concise résumé is critical, but professional résumé services can cost anywhere from $50 to upwards of $500. Our product RE : me (pronounced ree-mee), gives clients vital résumé advice from real recruiters in the industry at reasonable rates while also connecting these recruiters - and the companies they work for - to a pool of potential applicants. 
		</p>
		<br>
		<p> 
		  There exists a lack of easily accessible resources when it comes to receiving résumé feedback. While colleges, and some high schools, offer résumé reviews through their career counselors, the demand is not satisfied (not to mention the numerous people already in the workforce who could use résumé reviews). Many students do not know these resources are available, and many of those that are aware of the services do not go through the process of creating appointments and following through. Furthermore, career counselors often lack actual industry experience, and for the sake of wide accessibility, counselors lack specificity of particular industries (finance, software, business, etc). 
		</p>
	  	<br>
	  	<p>
	  	Building this company and product will satisfy a demand by providing a quick and easily accessible source of résumé feedback from professionals in industries that applicants have a direct interest. Additionally, our product will change the way people prepare their résumés. Rather than guessing what the person on the other side of the curtain wants, you can create your résumé based on what Human Resources (HR) representatives want to see. 
	  	</p>
	  	<br>
		<p>This website was created by Rachel Margulies, Jennie Werner, Christopher Crawford, Emanual Castenada for COS 448 Spring 2015. 

	 	This is the Minimum Viable Product for our project.
		</p>
	</div>
	<div class="col-md-2 ">
	<br>
	<br>
	<%=image_tag("jennie.jpg", class:"img-responsive")%>
	<br>
	<br>
	<br>
	<br>
	<%=image_tag("emanuel.jpg", class:"img-responsive")%>
	</div>
	</div>