<% provide(:title, "About") %>
<h1>About RE : me</h1>
<p>
  This website was created by Rachel Margulies, Jennie Werner, Christopher Crawford, Emanual Castenada for COS 448 Spring 2015. 


 	This is the Minimum Viable Product for our project.
</p>