<% provide(:title, "Help") %>
<h1>How to use RE : me</h1>
<p>If you are a student looking for advice on your resume, click the User Sign Up button.</p>
<p>If you are a HR Representative looking to get a little extra cash reviewing resumes, click the Reviewer Sign Up button.</p>
