<% provide(:title, "Home") %>
<div class="center jumbotron">
  <div class="row">
  <h1 class="col-md-8 col-md-offset-2"><%= image_tag("RemeLogo2.png", class: "img-responsive") %></h1>
  </div>
  <h2>
    A website for helping YOU find the feedback you need on your resume from Human Resources representatives at the companies you want to work for!</h2>
</div>
<div class="row">
<div class="col-md-1 col-md-offset-2">
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
</div>
<div class="col-md-1 col-md-offset-4">
	<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>