<% provide(:title, "Home") %>
<h1>Welcome to RE: me</h1>
<p>A website for helping YOU find the feedback you need on your resume from real Human Resources representatives at the companies you want to work for!</p>
