<% provide(:title, @client.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="client_info">
      <h1>
        <%= gravatar_for @client %>
        <%= @client.name %>
      </h1>
    </section>
  </aside>
</div>